<table class="table table-condensed">
  <thead>
    <tr>
      <th>Kartnummer : Saksnummer</th>
      <th>Forslagsbetegnelse</th>
      <th>På vegne av</th>
      <th>Vedtakstekst</th>
    </tr>
  </thead>

  <tbody>
    <% @decisions.each do |dec| %>
      <tr class="decision" data-decision-id="<%= dec.id %>">
        <td><%= dec.kartnr %> : <%= dec.saksnr %></td>
        <td><%= dec.forslagsbetegnelse %></td>
        <td><%= dec.on_behalf_of %></td>
        <td><%= dec.teaser %></td>
      </tr>
    <% end %>
  </tbody>
</table>
