<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" type="text/css" media="all" charset="utf-8">
    <link rel="stylesheet" href="/css/app.css" type="text/css" media="all" charset="utf-8">
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="http://holderdeord.no">Holder de ord</a>

          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="nav-collapse collapse">
            <ul class="nav">

              <li class="<%= 'active' if request.path == PROPOSITION_PATH %>">
                <a href="<%= PROPOSITION_PATH %>">Forslag 2010-2011</a>
              </li>

              <li class="<%= 'active' if request.path == DECISION_PATH %>">
                <a href="<%= DECISION_PATH %>">Vedtak 2009-2010</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="modal" class="modal hide" tabindex="-1"></div>
    <div class="container"><%= yield %></div>

    <script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
